<div class="product">
  <p>Store name: <%= product.store_name %></p>
  <p>Store section: <%= product.store_section.name %></p>
  <p>Product: <%= product.name %></p>
  <p>Quantity: <%= product.quantity %></p>
  <p>Purchased: <%= product.purchased %></p>
</div>
